#login {
  background: radial-gradient(circle at 70% 30%, #7539ff, #23114d);
  align-items: center;
  justify-content: flex-start;
  padding-top: 95px;
}
h1 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}
