.ion-page {
  overflow-y: auto;
}

ion-item.iskwela-theme {
  --ion-item-background: transparent;
  --ion-font-family: "Work Sans";
  --inner-border-width: 0 !important;
  --padding-start: 0 !important;
  --padding-end: 0 !important;
  --inner-padding-end: 0 !important;
  --full-highlight-height: 0 !important;
  overflow: visible;
  margin-top: 18px;
  width: 100%;
  ion-button {
    --background: transparent;
    --box-shadow: none;
    order: 2;
    z-index: 2;
    ion-icon {
      color: #7539ff;
    }
  }
  ion-input {
    background-color: #eee6ff !important;
    border-radius: 6px;
    z-index: 1;
    input {
      padding: 13px !important;
      min-height: 56px;
    }
  }
  ion-label {
    z-index: 3;
    padding: 0 13px;
    font-weight: 500;
    transform: translate(0, 37px) !important;
  }
  &.item-has-focus,
  &.item-has-value {
    ion-label {
      color: #fff !important;
      padding-left: 0;
      font-size: 14px;
      transform: translate(0, -10px) scale(0.9) !important;
    }
  }
}

ion-button.full {
  width: 100%;
  font-family: "Work Sans" !important;
  min-height: 56px;
  margin-top: 18px;
  &.ion-color-secondary {
    --ion-color-contrast: #282b4d !important;
    font-size: 16px;
    font-weight: 700;
    &:active {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
  }
}

ion-header {
  ion-title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 700;
  }
}

ion-content {
  --padding-start: 16px;
  --padding-end: 14px;
}
