.ion-page {
  overflow-y: auto;
}

// Style for IonicInput
ion-item.iskwela-theme.item-input {
  --ion-item-background: transparent;
  --ion-font-family: "Work Sans";
  --inner-border-width: 0;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  --full-highlight-height: 0;
  --border-width: 0;
  overflow: visible;
  margin-top: 18px;
  width: 100%;
  ion-button {
    --background: transparent;
    --box-shadow: none;
    order: 2;
    z-index: 2;
    ion-icon {
      color: #7539ff;
    }
  }
  ion-input {
    background-color: #eee6ff;
    border-radius: 6px;
    border: 1px solid transparent;
    z-index: 1;
    input {
      padding: 13px !important;
      min-height: 56px;
    }
  }
  ion-label {
    z-index: 3;
    padding: 0 13px;
    font-weight: 500;
    transform: translate(0, 37px) !important;
  }
  &.item-has-focus {
    ion-input {
      background: #f9f6ff;
      border-color: #7539ff;
    }
  }
  &.item-has-focus,
  &.item-has-value {
    ion-label {
      color: #fff !important;
      padding-left: 0;
      transform: translate(0, -10px) scale(0.9) !important;
    }
  }
}

ion-button.full {
  width: 100%;
  min-height: 56px;
  margin-top: 18px;
  &.ion-color-secondary {
    --ion-color-contrast: #282b4d !important;
    font-size: 16px;
    font-weight: 700;
    &:active {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
  }
}

ion-header {
  ion-title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 700;
  }
}

ion-content {
  --padding-start: 16px;
  --padding-end: 14px;
}

ion-card.classes {
  max-height: 226px;
  border-radius: 20px;
  border: 1px solid #e9e4ef;
  box-shadow: 0 2px 30px #f1e6ff;
  height: 100%;
  transition: box-shadow 0.13s ease-out, transform 0.13s ease-out;
  margin-top: 30px;
  &:active {
    box-shadow: 0 10px 10px #efe6fb;
    transform: translateY(-6px);
  }
  ion-card-title {
    color: #fff;
    font-size: 24px;
    letter-spacing: 0.33px;
    font-weight: 500;
  }
  ion-card-subtitle {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.22px;
    font-weight: 400;
  }
  ion-card-header {
    height: 155px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
  }
  ion-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
    ion-avatar {
      position: absolute;
      right: 17px;
      bottom: 35px;
      width: 75px;
      height: 75px;
    }
    .class-details,
    .class-teacher {
      margin-top: 10px;
      color: #282b4d;
      width: 50%;
    }
    .class-details {
      ion-text {
        font-size: 14px;
        letter-spacing: 0.19px;
      }
    }
    .class-teacher {
      display: flex;
      align-items: flex-end;
      height: 100%;
      justify-content: flex-end;
      ion-text {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.22px;
      }
    }
  }
}
